.frBanner(layout='column',
    layout-align='end center',
    flex='30'
    ) Emami Frank Ross: Login Portal
.userLogin(flex,
    layout='column',
    layout-align='start center'
    )
    .panel
        ='Please Login.'
        form.login(layout='column',
            action='',
            method='post'
            )
            label(for='username') Email:
            input(type='text',
                name='username',
                value='',
                placeholder='Enter your email here.'
                )
            br
            label(for='password') Password:
            input(type='text',
                name='password',
                value='',
                placeholder='Enter your password here.'
                )
            br
            input(type='button',
                name="login",
                value="Login",
                placeholder='Login'
                )
